In [10]:

!pip install kaggle

Requirement already satisfied: kaggle in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (1.6.14)

[notice] A new release of pip available: 22.3.1 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: six>=1.10 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: python-dateutil in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from tqdm->kaggle) (0.4.6)

In [5]:

import kaggle

In [8]:
#downloading  dataset orders.csv using kaggle API

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [12]:
#extracting file from zip file 

import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [94]:
#read orders csv file in deef dataframe just to check data 

import pandas as pd 
deef= pd.read_csv('orders.csv')
deef.head(2)

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3

In [131]:
#read data from the file and handle null values

import pandas as pd
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [132]:

df.count()

Order Id            9994
Order Date          9994
Ship Mode           9988
Segment             9994
Country             9994
City                9994
State               9994
Postal Code         9994
Region              9994
Category            9994
Sub Category        9994
Product Id          9994
cost price          9994
List Price          9994
Quantity            9994
Discount Percent    9994
dtype: int64

In [133]:

df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [134]:

df.columns = df.columns.str.lower()
df.columns

Index(['order id', 'order date', 'ship mode', 'segment', 'country', 'city',
       'state', 'postal code', 'region', 'category', 'sub category',
       'product id', 'cost price', 'list price', 'quantity',
       'discount percent'],
      dtype='object')

In [135]:

df.columns = df.columns.str.replace(' ', '_')
df.head(0)

Empty DataFrame
Columns: [order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, cost_price, list_price, quantity, discount_percent]
Index: []

In [136]:

df['discount'] = df['list_price'] * df['discount_percent'] * .01

In [137]:

df['sale_price'] = df['list_price'] - df['discount']

In [138]:

df['profit'] = df['sale_price'] - df['cost_price']

In [139]:

df['total_sale_price'] = df['sale_price'] * df['quantity']

In [140]:

df['total_profit'] = df['profit'] * df['quantity']

In [141]:
df.head(3)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,...,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit,total_sale_price,total_profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8,509.6,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1,2124.3,324.3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,...,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5,19.0,-1.0

In [142]:

df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
total_sale_price    float64
total_profit        float64
dtype: object

In [143]:


#convert order date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")
df.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,...,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit,total_sale_price,total_profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8,509.6,29.6
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,...,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1,2124.3,324.3

In [144]:

df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
total_sale_price           float64
total_profit               float64
dtype: object

In [145]:

#drop cost price list price and discount percent columns
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [146]:

from sqlalchemy import create_engine
import pandas as pd

In [147]:

/creating connection with sql server using odbc driver 17 and window authentication using pyodbc 

server = 'DESKTOP-GGDI84S\SQLEXPRESS'
database = 'project4python_sql'
driver = 'ODBC Driver 17 for SQL Server'
# password = 
# username = 

# database_connection= f'mssql:// {username} : {password} @{server} /{database}?driver={driver}'

database_connection = f'mssql+pyodbc://@{server}/{database}?driver={driver}&trusted_connection=yes'

In [148]:


engine= create_engine(database_connection)
connection = engine.connect()

In [127]:

# writing data into sql table 
df.to_sql('df_orders', con=connection , index=False, if_exists = 'append'  )

18

In [129]:

# after reading data connection is closed 
closeed = connection.close()

In [35]:

# reading data from other table from sql server database 

# # Example query to test the connection
# query = "SELECT * FROM emp_salary"

# # Read data into a pandas DataFrame
# df = pd.read_sql(query, engine)

# # Display the DataFrame
# print(df.head(4))

   emp_id   name salary  dept_id
0     101  sohan   3000       11
1     102  rohan   4000       12
2     103  mohan   5000       13
3     104    cat   3000       11

In [66]:

# checking whether this way is working or not using random data 

# Example DataFrame
data = {
    'column1': [1, 2, 3],
    'column2': ['A', 'B', 'C'],
    'numeric_column': [10.1, 20.2, 30.3]
}
df1 = pd.DataFrame(data)

# Ensure numeric columns are properly formatted
df1['numeric_column'] = df1['numeric_column'].astype('float64')

# Write DataFrame to SQL Server
df1.to_sql('random_data', con=engine, index=False, if_exists='append')

# Optional: Verify by reading from the table
query = "SELECT * FROM RANDOM_DATA"

df_from_sql = pd.read_sql(query, engine)

print(df_from_sql.head())

   column1 column2  numeric_column
0        1       A            10.1
1        2       B            20.2
2        3       C            30.3

In [22]:

# another way of loading data into sql table 

# #load the data into sql server using replace option
# import sqlalchemy as sal

# engine = sal.create_engine('mssql://DESKTOP-GGDI84S\SQLEXPRESS/project4python_sql?driver=SQL+SERVER')
# conn=engine.connect()

#load the data into sql server using append option
# data_types = {'order_id': sal.Integer(), 'order_date': sal.Date() , 'ship_mode': sal.String(100) , 'segment': sal.String(100) ,
#               'country': sal.String() , 'city': sal.String(100) , 'state': sal.String(100) ,  'postal_code': sal.Integer()
#  , 'region': sal.String(100),  'category': sal.String(100),
#   'sub_category': sal.String(100),  'product_id': sal.String(200)  ,  'quantity': sal.Integer(), 
#               'discount': sal.Float(), 'sale_price': sal.Float(), 'profit': sal.Float(),  }


# df.to_sql( name= 'df_orders', con=conn , index=False , dtype=data_types, if_exists = 'append')